/target
Cargo.lock

# Foundry 

# Compiler files
contracts/cache/
contracts/out/
contracts/lib/
contracts/src/flattened/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
*.env
*.env.backup
.env.backup

# Temp checkpoint
*.temp-checkpoint.json

# intellij 
*.idea/

nohup.out

# Log files and large data files
logs/
*.csv
*.log